/* Google Font - Work Snas */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* universal Style */

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* HTML */

html {
    font-size: 10px;
}

/* Body */

body {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.6rem;
}

/* Custom Property */

:root {
    /* color */
    --text-color-lighter: #3C354F;
    --text-color-light: #534C64;
    --text-color-dark: #0B0223;
    --text-color-white: #fff;
    --text-special-color: #FF42A5;

    --btn-color-primary: #FF42A5;
    --btn-color-secondary: #4EC5F7;
}

/* Shared Style */

/* container */
.container {
    width: 80vw;
    margin: 0 auto;
}

/* Btn*/

.primary_btn {
    text-decoration: none;
    border-radius: 5rem;
    color: var(--text-color-white);
    display: inline-block;
    font-size: 2rem;
    font-weight: 600;
    padding: 2rem 4rem;
}

/* Section */

.section {
    padding-top: 12rem;
}

/* Nav */

.nav {
    /* border: 2px solid salmon; */
    width: 100%;
    height: 13rem;
    background-color: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav_container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_logo {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.nav_lists {
    display: flex;
}

.nav_list_one {
    display: flex;
    align-items: center;
}

.nav_list_two {
    display: flex;
    align-items: center;
    margin-left: 3rem;
    background-color: rgba(11, 2, 35, 0.10);
    border-radius: .8rem;
    padding: 1.3rem 1.8rem;
}

.nav_logo_link {
    text-decoration: none;
    font-size: 4.5rem;
    font-weight: 700;
    color: var(--text-color-dark);
}

.nav_logo_link>span {
    color: var(--text-special-color);
}

.nav_list_one_item {
    list-style: none;
    margin: 0rem 1.6rem;
}

.nav_list_two_item {
    list-style: none;
    margin: 0rem 2.4rem;
}

.nav_list_link {
    text-decoration: none;
    color: var(--text-color-lighter);
    font-size: 1.8rem;
    font-weight: 500;
}

.youtube_link {
    margin: 0rem;
}

.tiktok_link {
    margin: 0rem 2.4rem 0rem 1rem;
}

/* Nav End */


/* Banner */

.banner {
    /* border: 1px solid sandybrown; */
    width: 100%;
    /* height: calc(100vh - 10rem); */
    background-image: url('../images/herobg.png');
    background-repeat: no-repeat;
}

.banner_container {
    height: 100%;
    display: flex;
    align-items: center;
}

.banner_content {
    width: 50%;
}

.banner_img {
    width: 50%;
    padding-left: 5rem;
}

.banner_heading_one {
    color: var(--text-color-dark);
    font-size: 5rem;
    font-weight: 500;
    margin-bottom: .4rem;
}

.banner_heading_two {
    font-size: 10rem;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 2.4rem;
}

.banner_text {
    display: flex;
    gap: 1.2rem;
    align-items: center;
    color: var(--text-color-light);
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1.7rem;
}

.banner_btn_one {
    background-color: var(--btn-color-primary);
    margin-right: 2.4rem;
}

.banner_btn_two {
    background-color: var(--btn-color-secondary);
}

/* Banner End */


/* Gamer */

.gamer_section {
    /* border: 1px solid red; */
    width: 100%;
    background-image: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);

}

.gamer_container {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 5rem 0rem;
}

.gamer_img {
    width: 60%;
}

.gamer_content {
    width: 40%;
    text-align: right;
    padding-right: 2rem;
}


.gamer_title {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4.8rem;
    font-weight: 700;
    margin-bottom: 2.4rem;
}

.gamer_text {
    color: var(--text-color-light);
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: 3rem;
    line-height: 3rem;
}

.gamer_btn {
    background-color: var(--btn-color-primary);
    margin-bottom: 2.4rem;
}

.gammer_text_one {
    color: var(--text-color-light);
    font-size: 2.4rem;
    font-weight: 500;
}

.gammer_text_two {
    color: var(--text-color-light);
    font-size: 3.2rem;
    font-weight: 700;
}

/* Online Game */


.online_game_content {
    width: 100%;
    text-align: center;
}

.online_game_title {
    margin-bottom: 1.5rem;
    color: var(--text-color-dark);
    font-size: 4.8rem;
    font-weight: 700;
}

.online_game_title>span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4.8rem;
    font-weight: 700;
}

.online_game_p {
    margin-bottom: 4.5rem;
}

/* grid */
.online_game_cards_container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 2rem;
}


.online_game_card img {
    width: 100%;
    object-fit: cover;
}

.online_game_card_p {
    color: var(--text-color-light);
    font-size: 2rem;
    font-weight: 500;
    line-height: 3rem;
    margin-top: 2.4rem;
}


.online_game_card {
    height: 100%;
    position: relative;
}

.layer {
    background: transparent;
    width: 100%;
    height: 83%;
    border-radius: 1.5rem;
    position: absolute;
    top: 0;
    left: 0;
    transition: background 0.5s, outline 0.5s;
    cursor: pointer;
}

.layer:hover {
    background: rgba(0, 0, 0, 0.795);
}

.layer>p {
    width: 100%;
    font-weight: 500;
    color: #ffff;
    font-size: 1.625rem;
    position: absolute;
    transform: translate(-50%, 0%);
    opacity: 0;
    transition: 0.5s;
    top: 50%;
    left: 88%;
}


.layer>img {
    width: 40px;
    height: 40px;
    position: absolute;
    transform: translate(-50%, 0%);
    opacity: 0;
    transition: 0.5s;
    top: 38%;
    left: 50%;
}

.layer::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 1.5rem;
    outline: 3px solid transparent;
    transition: outline 0.5s;
}


.layer:hover::after {
    outline: 3px solid #F948B2;
}

.layer:hover p {
    opacity: 1;
    color: var(--btn-color-primary);
}

.layer:hover img {
    opacity: 1;
}

/* Online Game End */